@{
    ViewData["title"] = "Register";
}
@model RegisterModel;
<div class="container">
    <h1>Create an account</h1>
    <form id="register" method="post" style="width: 400px;">
        <div class="form-group flex-column mt-4" style="display:flex;">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>

            <div class="input-item mb-3 flex-column">
                <input class="form-control mb-2" type="text" asp-for="Name" style="width: 100%;">
                <span asp-validation-for="Name"></span>
                <input class="form-control mb-2" type="password" asp-for="Password" style="width: 100%">
                <span asp-validation-for="Password"></span>
                <input class="form-control mb-2" type="password" asp-for="RetypePassword" style="width: 100%">
                <span asp-validation-for="RetypePassword"></span>
            </div>
            
            <button id="registerSubmit" type="submit" class="btn-primary btn btn-lg">Submit</button>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}